.footer{
	width: 100vw;
	height: 70vh;
	position: absolute;
	top: 683.1vh;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}
.column1, .column2, .column3{
	width: 22vw;
	height: 35vh;
	color: white;
	position: absolute;
	line-height: 3.7vh;
}
.column1{
	top: 10vh;
	left: 12vw;
}
.column1 > h2{
	font-family: 'Pacifico';
	font-weight: lighter;
	font-size: 2vw;
}
.column2{
	top: 10vh;
	left: 38.5vw;
}
.column2 > h2{
	font-family: 'Passageway';
	font-size: 1.3vw;
}
.column3{
	top: 10vh;
	left: 65vw;
}
.column3 > h2{
	font-family: 'Passageway';
	font-size: 1.3vw;
}
.footer_paragraph{
	font-size: 1.2vw;
}
.icon_holder{
	letter-spacing: 0.6vw;
	color: darkgray;
}
.icon_holder > a:hover{
	color: red !important;
	cursor: pointer;
}
.icon_holder > a:visited {
    color: darkgray;
}
.icon_holder > a:link {
    color: darkgray;
}
.input{
	border: 1px solid black;
	background-color: black;
	color: white;
	width: 20vw;
	height: 5vh;
	outline: none;
	padding: 1vw;
    box-sizing: border-box;
	display: block !important;
	font-style: normal !important;
	opacity: 1 !important;
}
::placeholder{
	color: white;
	font-size: 0.7vw;
}
.submit_button{
	width: 8vw;
	height: 5vh;
	border: 3px solid #EA4730;
    background-color: #EA4730;
	position: relative;
	left: 12vw;
	color: white;
	font-size: 0.8vw;
	font-family: none;
	border-radius: 10%;
	cursor: pointer;
	outline: none;
}
.submit_button:hover{
	background-color: white;
	border: 3px solid white;
	color: #EA4730;
}
.spin_icon{
	width: 2vw;
	height: 4vh;
	text-align: center;
	line-height: 4vh;
	position: relative;
	left: 20.5vw;
	bottom: 4.5vh;
	animation: spin 1s linear infinite;	
	display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.error_message{
	width: 20vw;
	height: 15vh;
	color: white;
	position: absolute;
	background-color: #F3C30B;
	top: 52vh;
	left: 65vw;
	display: none;
}
.error_text_holder{
	width: 17vw;
	height: 9vh;
	position: relative;
	top: 4vh;
	left: 2vw;
	font-size: 1vw;
}
.error_icon{
	width: 2vw;
	position: absolute;
	top: 4.3vh;
	left: 0.9vw;
}
.success_message{
	width: 20vw;
	height: 10vh;
	color: white;
	position: absolute;
	background-color: #0BF3A5;
	top: 52vh;
	left: 65vw;
	display: none;
}
.sucess_text_holder{
	width: 17vw;
	height: 9vh;
	position: relative;
	top: 3vh;
	left: 3.5vw;
	font-size: 1vw;
}
.sucess_icon{
	width: 2vw;
	position: absolute;
	top: 3.3vh;
	left: 1.8vw;
}
.error{
	position: relative;
	font-style: italic;
	opacity: 0;
}